<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>


<div class="cotn_principal">
    <div class="cont_centrar">
        <div class="cont_login">
            <div class="cont_info_log_sign_up">
                <div class="col_md_login">
                    <div class="cont_ba_opcitiy">
                        <h2>登录</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur.</p>
                        <button class="btn_login" onClick="cambiar_login()">LOGIN</button>
                    </div>
                </div>
                <div class="col_md_sign_up">
                    <div class="cont_ba_opcitiy">
                        <h2>注册</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur.</p>
                        <button class="btn_sign_up" onClick="cambiar_sign_up()">SIGN UP</button>
                    </div>
                </div>
            </div>
            <div class="cont_back_info">
                <div class="cont_img_back_grey"><img src="#" alt=""/></div>
            </div>
            <div class="cont_forms">
                <div class="cont_img_back_"><img src="#" alt=""/></div>
                <form class="registry-form" method="post" action="/login">
                    <div class="cont_form_login"><a href="#" onClick="ocultar_login_sign_up()"><i
                                    class="material-icons">&#xE5C4;</i></a>
                        <h2>LOGIN</h2>
                        <input type="text" name="phone" placeholder="Phone">
                        <input type="password" name="password" placeholder="Password"/>
                        <button class="btn_login" type="submit" onClick="cambiar_login()">LOGIN</button>
                    </div>
                </form>
                <form class="registry-form" method="post" action="/register">
                    <div class="cont_form_sign_up"><a href="#" onClick="ocultar_login_sign_up()"><i
                                    class="material-icons">&#xE5C4;</i></a>
                        <h2>SIGN UP</h2>
                        <input type="text" name="phone" placeholder="Phone"/>
                        <input type="text" name="user" placeholder="User"/>
                        <input type="password" name="password" placeholder="Password"/>
                        <!--  <input type="password" placeholder="Confirm Password"/> -->
                        <button type="submit" class="btn_sign_up" onClick="cambiar_sign_up()">SIGN UP</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="/static/js/index.js"></script>

</body>
</html>
